*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.ejercicio {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calcular{
    display:flex;
}
.stickerstyle{
    border-radius: 50%;
}

.inputnumber{
    display:flex;
    flex-direction: row;
}

.contenedorblock{
    display:flex;
    flex-direction: row;
}

.sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 150px;
    height: 150px;
    padding:10px;
}

#imagen{
    width:300px;
    height: 300px;
    
}

.inputsticker{
    width: 35px;
}

.borde-rojo {
    border: 2px solid red;
}

